.slider {
    height: 30px;
    width: 400px;
    position: relative;
}

.slider-bar {
    position: absolute;
    top: 10px;
    height: 2px;
    border: 1px solid #B8B8B8;
}

.slider-bar-active {
    border-color: #288575;
}

.slider-bar-left {
    left: 0;
    width: 50px;
}

.slider-bar-middle {
    left: 50px;
    width: 250px;
}

.slider-bar-right {
    left: 300px;
    width: 100px;
}

.slider-button {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #288575;
    border-radius: 100%;
    cursor: pointer;
}

.slider-button-left {
    left: 40px;
    top: 1px;
}

.slider-button-right {
    left: 290px;
    bottom: 19px;
}

.slider-button span {
    position: absolute;
    top: 24px;
    left: -5px;
    color: #000000;
    font-family: "PT Sans", serif;
    font-size: 12px;
    display: block;
    width: 30px;
    text-align: center;
    cursor: auto;
}

