* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#app{
    min-height: 100vh;
    min-width: 480px;
    background-color: #f4f4f6;
    font-family: Sans-serif, serif;
}

#app .content{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.16);
    min-height: 100vh;
}